/*메인*/
.content {
  position: relative;
  width: 100%;
  padding: 80px 60px;
}
#index_html .content{padding:0; font-size:0; line-hiehgt:0;}

.poop-container {
  text-align: center;
}
.poop-container a {
  display: inline-block;
  margin: auto 5px;
  color: blue;
}
.index_intro h1 {
  text-align: center;
}
.index_intro img {
  width: 100%;
  margin-top: 50px;
}
.index_intro p {
  margin-top: 30px;
  text-align: center;
  line-height: 30px;
}


@media (max-width: 640px) {
  .index_intro img{margin-top:0;}
}

/* 어바웃 */
.about {
  padding: 0 100px 100px;
  font-size:22px;
}

.about div + div {
  margin-top: 100px;
}

.about h2 {
  margin-bottom: 30px;
}

.fixed-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  width: 300px;
  z-index: 10;
}

@media (max-width: 700px) {
  .about {
    padding: 50px;
  }
  .about h2{font-size:22px;}
  .about p{font-size:20px;}
}
@media (max-width: 500px) {
  .about {
    padding: 30px;
  }
}

/* 웍스 */
.work_body{width:100%; height:100%; overflow-x:hidden;}
.curtain {
  position: absolute;
  top: -130px;
  width: 100%;
}
.curtain .left_ct {
  position: absolute;
  left:-50px;
  transform: translateX(0);
  transition: transform 2s ease, opacity 2s ease;
}
.curtain .right_ct {
  position: absolute;
  right:-50px;
  transform: translateX(0);
  transition: transform 2s ease, opacity 2s ease;
}

.curtain .left_ct.animate-out {
  transform: translateX(-150%);
  opacity: 0;
}
.curtain .right_ct.animate-out {
   transform: translateX(150%);
  opacity: 0;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.work-item {
  width: 33.33%;
  padding: 30px;
  cursor: pointer;
  text-align: center;
}

.work-item img {
  width: 100%;
  border-radius: 8px;
  transition: transform 0.2s ease;
}

.work-item:hover img {
  transform: scale(1.03);
}

.work-item .title {
  margin-top: 8px;
  font-weight: bold;
  font-size: 16px;
  color: #333;
}

.gallery_detail {
  display: none;
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 200px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
  overflow-y: auto;
}
.gallery_detail .close {
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 25px;
  font-weight: bold;
  color: white;
}
.gallery_detail .close em {
  display: none;
  font-size: 0;
}
.detail_slide {
  width: 100%;
  color: white;
}
.detail_slide .title {
  width: 100%;
  font-weight: 500;
}
.detail_slide .text_area {
  font-weight: 200;
}
.detail_slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.gallery_detail .btn button {
  border: none;
  background: none;
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.gallery_detail .btn button.pre {
  position: absolute;
  top: 45%;
  left: 0;
  transform: translate(100%, -50%);
}

.gallery_detail .btn button.next {
  position: absolute;
  top: 45%;
  right: 0;
  transform: translate(-100%, -50%);
}

.gallery_detail .btn em {
  display: none;
  font-size: 0;
}

@media (max-width: 1000px) and (min-width: 701px) {
  .work-item {
    width: 50%;
  }
}
@media (max-width: 700px) {
  .work-item {
    width: 100%;
  }
  .detail_slide .title {
    font-size: 15px;
  }
  .detail_slide .text_area {
    font-size: 12px;
  }
  .gallery_detail .btn button.pre {
    top: 30%;
  }

  .gallery_detail .btn button.next {
    top: 30%;
  }
}

.guestbook {
  max-width: 600px;
  margin: 200px auto 100px;
  padding: 30px;
  background: #fefefe;
}
.guestbook .img_area {
  text-align: center;
}
.guestbook img {
  width: 200px;
}
.guestbook h2 {
  text-align: center;
}

#guestForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#guestForm input,
#guestForm textarea {
  padding: 10px;
  font-size: 16px;
  border: none;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  resize: none;
  margin: 10px 0;
}

#guestForm textarea {
  height: 60px;
}

#guestForm button {
  color: white;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 20px;
   background: hotpink;

  margin-top: 20px;
}

#guestMessages {
  margin-top: 30px;
}

#guestMessages .guest-message {
  position: relative;
   border: 1px solid hotpink;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

#guestMessages .guest-message + .guest-message {
  margin-top: 15px;
}

#guestMessages .guest-message strong{
  display:block;
  
}

#guestMessages .guest-message span{
  display:block;
}


#guestMessages .guest-message .delete {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 0;
  background: none;
}


