* {
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background:black;
  color:white;
}

#about_body {
  overflow-x: hidden;
}
/* 메뉴 */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 130px;
  padding: 30px 30px 30px;
  text-align: center;
  z-index: 1000;
  transition: background 0.3s ease;
}
.nav:before {
  display:block;
  content:'';
  position: absolute;
  top: 0;
  left: 50%;

  width: 300px;
  height: 300px;
  transition: width 0.3s ease, transform 0.3s ease;
  background: radial-gradient(
    ellipse at bottom,
    rgba(255, 255, 200, 1) 0%,      /* 중심: 발광체 느낌, 거의 흰빛 섞인 노랑 */
    rgba(255, 200, 0, 0.6) 30%,     /* 중간: 선명한 노란 조명 */
    rgba(255, 160, 0, 0.3) 60%,     /* 바깥: 따뜻한 주황빛 */
    rgba(255, 140, 0, 0) 100%       /* 가장자리: 사라짐 */
  );
  border-radius:0 0 300px 300px;
  filter:blur(60px);
  transform:translate(-50%, -50%);
  /*opacity: 0;*/
  z-index:-1;
}

.nav:after{
  display:block;
  content:'';
  position: absolute;
  top:-15px;
  left: 50%;
  width:45px;
  opacity:0.7;
  transform:translateX(-50%);
  background:url('../resource/images/index/light_bulb.png') no-repeat;
  background-size:45px; height:50px;
   transition: top 0.3s ease;
}


/*
#index_html .nav:before {
  background: linear-gradient(
    to bottom,
    rgba(255, 19, 40, 0.8) 0%,
    rgba(255, 19, 240, 0.3) 55%,
    rgba(255, 19, 240, 0) 100%
  );
}*/
.nav.scrolled:before {
 /*opacity:1;*/
  width:600px;
}
.nav.scrolled:after {
  top:-9px;
}
.nav .logo_link{display:inline-block; padding:0; margin:0;}
.nav .logo img {
  width: 140px;
    transition: width 0.3s ease;
}
.nav.scrolled .logo img {
  width:70px;
}
.nav .menu {
  margin-top: 20px;
      transition: margin-top 0.3s ease;
}
.nav.scrolled .menu {
  margin-top: 20px;
}
.nav a {
  display: inline-block;
  padding: 5px;
  font-size: 17px;
  color: black;
  text-decoration: none;
  transition: transform 0.5s ease;
}

.nav a + a {
  margin-left: 50px;
}
.nav a.active {
  color: red;
}

.nav.scrolled a {
  font-weight:500;
}

.menu-toggle {display:none;}
 #mobileMenu img{display:none;}

/*
.nav a:hover {
  transform: scale(3.05);
}*/
@media (max-width: 640px) {
  .nav{height:auto; padding:22px 20px 19px; text-align:left;}
  .nav:before{left:0; height:150px;}
  .nav .logo img{width:60px;}
  .nav.scrolled .logo img{width:60px;}
.menu-toggle {display:block;position:absolute;top:19px;right:25px;border:0;background:transparent;font-size:20px;z-index:1001; color:#fff;}
#mobileMenu{display:none;position:absolute; top:0; left:0;width:100%; height:100vh; background:red; margin-top:0; padding-top:25%; text-align:center;  /*opacity:0;  transition: opacity 0.4s ease;*/}
 #mobileMenu img{width:100px;}
  #mobileMenu.active{display:block;}
  .nav a{display:block; padding:10px; margin:30px;}
  .nav a.active{color:white;}
  .nav a + a{margin-left:30px;}
  #mobileMenu img{display:inline-block;}
}


.content {
  margin-top: 130px;
}

@media (max-width: 640px) {
  .content{margin-top:70px;}
}

footer{background:black; border-top:1px solid red;
  padding:20px; text-align:center; font-size:12px;
}
footer .text_line{padding-bottom:20px; border-bottom:1px dashed red; color:red; font-weight:500; margin-bottom:18px;}
footer .contact_link a{color:red; margin:0 5px;}




