* {
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  background:black;
}

#about_body {
  overflow-x: hidden;
}
/* 메뉴 */
.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 130px;
  padding: 30px 30px 30px;
  text-align: center;
  z-index: 1000;
  transition: background 0.3s ease;
}
.nav:before {
  display:block;
  content:'';
  position: absolute;
  top: 0;
  left: 50%;

  width: 600px;
  height: 300px;
  transition: opacity 0.3s ease, transform 0.3s ease;
   background: radial-gradient(
    ellipse at bottom,
    rgba(255, 460, 100, 0.9) 0%,     
    rgba(255, 200, 0, 0.5) 50%,  
    rgba(255, 240, 150, 0) 100%    
  );
  border-radius:0 0 300px 300px;
  filter:blur(60px);
  transform:translate(-50%, -50%);
  /*opacity: 0;*/
  z-index:-1;
}
/*
#index_html .nav:before {
  background: linear-gradient(
    to bottom,
    rgba(255, 19, 40, 0.8) 0%,
    rgba(255, 19, 240, 0.3) 55%,
    rgba(255, 19, 240, 0) 100%
  );
}*/
.nav.scrolled:before {
 opacity:1;
}
.nav .logo_link{display:inline-block; padding:0; margin:0;}
.nav .logo img {
  width: 100px;
    transition: width 0.3s ease;
}
.nav.scrolled .logo img {
  width:70px;
}
.nav .menu {
  margin-top: 20px;
      transition: margin-top 0.3s ease;
}
.nav.scrolled .menu {
  margin-top: 20px;
}
.nav a {
  display: inline-block;
  padding: 5px;
  font-size: 17px;
  color: black;
  text-decoration: none;
  transition: transform 0.5s ease;
}

.nav a + a {
  margin-left: 50px;
}
.nav a.active {
  color: red;
}

.nav.scrolled a {
  font-weight:500;
}

.menu-toggle {display:none;}
 #mobileMenu img{display:none;}

/*
.nav a:hover {
  transform: scale(3.05);
}*/
@media (max-width: 640px) {
  .nav{height:auto; padding:22px 20px 19px; text-align:left;}
  .nav:before{height:70px;}
  .nav .logo img{width:60px;}
  .nav.scrolled .logo img{width:60px;}
.menu-toggle {display:block;position:absolute;top:19px;right:25px;border:0;background:transparent;font-size:20px;z-index:1001;}
#mobileMenu{position:absolute; top:0; left:0;width:100%; height:100vh; background:red; margin-top:0; padding-top:25%; text-align:center; transform:translateY(100%); /*opacity:0;  transition: opacity 0.4s ease;*/}
 #mobileMenu img{width:100px;}
  #mobileMenu.active{transform:translateY(0);}
  .nav a{display:block; padding:10px; margin:30px;}
  .nav a.active{color:white;}
  .nav a + a{margin-left:30px;}
  #mobileMenu img{display:inline-block;}
}


.content {
  margin-top: 130px;
}

@media (max-width: 640px) {
  .content{margin-top:70px;}
}

footer{background:black; border-top:1px solid red;
  padding:20px; text-align:center; font-size:12px;
}
footer .text_line{color:red; font-weight:500; margin-bottom:8px;}
footer .contact_link a{color:red; margin:0 5px;}




